@import "tailwindcss";

html {
  font-size: 18px;
}

@variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-mono: var(--font-geist-mono);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
